<link rel="apple-touch-icon" sizes="180x180" href="images/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">
<link rel="manifest" href="images/site.webmanifest">

<meta name="msapplication-TileColor" content="#000000">
<meta name="msapplication-TileImage" content="images/mstile-144x144.png?v=M44lzPylqQ">
<meta name="msapplication-config" content="images/browserconfig.xml?v=M44lzPylqQ">
<meta name="theme-color" content="#ffffff">
<link rel="stylesheet" href="assets/css/academicons.css"/>

<script type="text/x-mathjax-config"> MathJax.Hub.Config({ TeX: { equationNumbers: { autoNumber: "all" } } }); </script>
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$','$'], ["\\(","\\)"] ],
      processEscapes: true
    }
  });
</script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/latest.js?config=TeX-MML-AM_CHTML' async></script>

<script>
    class TagElement extends HTMLElement {
        constructor() {
            super(); // 必须首先调用 super()
            // 元素初始化逻辑可以放在这里
        }
        disconnectedCallback() {
            // 当元素从文档 DOM 中移除时调用
        }
        attributeChangedCallback(name, oldValue, newValue) {
            // 当元素属性被添加、移除、更新时调用
            // name: 属性名字符串
            // oldValue: 属性之前的旧值
            // newValue: 属性的新值
        }
        static get observedAttributes() {
            // 返回您希望 attributeChangedCallback 观察的属性名称数组
            return []; // 例如: return ['theme', 'size'];
        }
    }
    class TaghElement extends HTMLElement {
        constructor() {
            super(); // 必须首先调用 super()
            // 元素初始化逻辑可以放在这里
        }
        disconnectedCallback() {
            // 当元素从文档 DOM 中移除时调用
        }
        attributeChangedCallback(name, oldValue, newValue) {
            // 当元素属性被添加、移除、更新时调用
            // name: 属性名字符串
            // oldValue: 属性之前的旧值
            // newValue: 属性的新值
        }
        static get observedAttributes() {
            // 返回您希望 attributeChangedCallback 观察的属性名称数组
            return []; // 例如: return ['theme', 'size'];
        }
    }
    customElements.define('tag', TagElement);
    customElements.define('tagh', TaghElement);
</script>


<!-- end custom head snippets -->
